/* mountain */
.exo{
    font-family: 'Exo', sans-serif;
}

.vh100{
    height: 100vh;
}

.mountain__title{
    
font-size: 60px;
line-height: 75px;
font-weight: 100;
letter-spacing: 0.04em;
color: #282828;
}
.btn-floating.btn-large {
    width: 76px;
    height: 76px;
    padding: 0;
}
.play__btn{
    position: relative;
}
.play__img{
    position: relative;
    top: 15px;
    left: 3px;
}
.btn__try{
font-family: 'Exo', sans-serif;
font-size: 16px;
border-radius: 5px; 
padding: 10px 30px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #ffffff;
background-color: #ff6d6d;
}
.mountain__text{
    opacity: 0.6;
font-family: 'Exo';
font-size: 14px;
line-height: 75px;
font-weight: 400;
letter-spacing: 0.04em;
color: #282828;
}

/* DESIGN */

.DESIGN__block{
    padding:80px 120px;
    height: 100%;
}


.DESIGN__img{
    height: 120vh;
    width: 100%;
}
#DESIGN__img__block{
    padding: 0;
}
@media screen and (max-width:992px) {
    .DESIGN__img{
height: 50vh;
    }
    .img__ablosute{
        display: none;
    }
    .none{
        display: none;
    }
}
@media screen and (max-width:600px) {
    .heig{
height: 100%;
    }
}

.DESIGN__text {
font-family: 'Exo';
font-size: 16px;
line-height: 50px;
font-weight: 500;
letter-spacing: 0.2em;
color: #ff6d6d;
}

.DESIGN__title{
font-family: 'Exo';
font-size: 40px;
line-height: 50px;
font-weight: 500;
letter-spacing: 0.04em;
color: #282828;


}
.DESIGN__text1{
opacity: 0.65;
font-family: 'Exo';
font-size: 16px;
line-height: 26px;
font-weight: 500;
letter-spacing: 0.04em;
color: #282828;
}





/* feature */
.feature__background{
    width: 100%;
   
}
.m0{
    margin: 0;
}
.feature__block{
    margin-top: 50px;
}
.feature__box:hover{
    transform: scale(1.1);
    transition: 0.8s ease;
    cursor: pointer;
}
.feature__box:hover > img {

border-radius: 50%;
}
.feature__box:hover > img {
     transform: scale(0.7);
    transition: 0.8s ease;
    box-shadow: 0 0 24px #000;

}
.img__ablosute{
    position: absolute;
    background-image: url(../images/logo__fuature.png);
  
    background-repeat: no-repeat;
width: 213px;
height: 279px;
opacity: 0.9;
top: -60px    ;
right: 200px;
z-index: 1;
}
.feature_title__shadow{
    text-shadow: 0 0 16px red   ;
}
.heig{
    position: relative;
    z-index: 100;
}
/* TV */
.macbook{
    background-image: url(../images/rectangle.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 2000px;
    position: absolute;
    top: -600px;
    left: -500px;
    z-index: -1;
    transform: rotate(12deg);
   
}
.TV .row .col img{
    margin-top: 80px;
}
/* mark */
.mark{
    background-image: url(../images/mark.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 648px;
}
.mark_title{
font-family: 'Exo';
font-size: 22px;

font-weight: 500;
letter-spacing: 0.04em;
color: #ffffff;
}
.mark_text{
opacity: 0.65;
font-family: 'Exo';
font-size: 16px;
line-height: 26px;
font-weight: 400;
font-style: italic;
letter-spacing: 0.04em;
color: #ffffff;
}
.mark__block{
    padding-top: 70px;
}
.logo__mark:hover{
    box-shadow: 0 0 16px #ffffff;
    transition: 0.8s ease;
    transform: scale(1.3);
    cursor: pointer;
}
.mark__box:hover{
    box-shadow: 0 0 16px #ffffff;
    transition: 0.8s ease;
    transform: scale(0.9);
    cursor: pointer;
}